# Data Collections 2 (Dictionaries, Sets) and Importing Modules

## Tasks Today:

1) Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring (key, value) <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accessing Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #1 - Print the eye color of each person in a double nested dict <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Adding New Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Modifying Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Removing Key, Value Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Looping a Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Looping Only Keys <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Looping Only Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #2 - Create a Function that Prints All Key Value Pairs within a print .format()  <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) sorted() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Lists with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; k) Dictionaries with Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; l) Dictionaries with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #3 - Write a Function that asks someone's name and address, and then stores that into a dictionary, which prints all names and addresses after they're done putting information in...  <br>
2) Dictionaries vs. Lists (over time)<br>
3) Set <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) .add() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .union() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .intersection() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .difference() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Frozen Set <br>

5) Exercises <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Address Book Program <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Best Times to Meet <br>

#### Warm Up

Given the list `address_book`, create a function that accepts a name (first or last or both) and returns the phone number of that name in the `address_book`. If the name is not in `address_book`, return -1.<br>

Ex. 1<br>
name = 'Hank'<br>
Expected Output: '(555) 555-1234'<br>

Ex. 2<br>
name = 'Tevin'<br>
Expected Output: '(333) 333-3245'<br>

Ex. 3<br>
name = 'Brian'<br>
Expected Output: -1<br>

In [33]:
address_book = [
    ('Hank', 'Mardukas', '123 Real Street', '(555) 555-1234'),
    ('Peter', 'Klaven', '321 Fake Street', '(555) 555-4321'),
    ('Sydney', 'Fife', '555 Santa Monica Drive', '(222) 222-6789'),
    ('Tevin', 'Downey', '100 Rodeo Blvd', '(333) 333-3245')
]

# def info(name, phone):
#     info = []
#     for namex, phone_num in name:
#         if phone_num == phone:
#             info.append(phone_num)
#     return info
        
        
# info(address_book,"Hank")

ValueError: too many values to unpack (expected 2)

## Dictionary <br>
<p>A collection of data with 'key:value' pairs. Dictionaries are ordered as of Python 3.6</p>

##### Declaring (key, value)

In [37]:
# Syntax: a_dict = {} or a_dict = dict() or a_dict = {'key': value, ...}
d_1 = {}
print(d_1)
print(type(d_1))

d_2 = dict()
print(d_2)
print(type(d_2))

d_3 = {
    'Hank': '123 Real street',
    'Peter': '321 Fake street',
    'Sydney': '555 Santa Monic Drive',
    'Tevin': '100 Rodeo blvd'
}

print(d_3)
print(type(d_3))

{}
<class 'dict'>
{}
<class 'dict'>
{'Hank': '123 Real street', 'Peter': '321 Fake street', 'Sydney': '555 Santa Monic Drive', 'Tevin': '100 Rodeo blvd'}
<class 'dict'>

##### Accessing Values

In [38]:
# dict[key]
d_3['Hank']

'123 Real street'

In [39]:
d_3['Tevin']

'100 Rodeo blvd'

In [40]:
# example when not in dict
d_3['Brian']

KeyError: 'Brian'

##### .get()

In [49]:
# dict.get('key') or dict.get('key', value_if_no_key)
# Help on method_descriptor:

# get(self, key, default=None, /)
#     Return the value for key if key is in the dictionary, else default.

print(d_3.get('Peter'))
print(d_3.get('Brian'))
print(d_3.get('Brian', 'No address for that person'))

my_address = d_3.get('Brian', 'No address')
print(my_address)

321 Fake street
None
No address for that person
No address

## In-Class Exercise #1 - Print a formatted statement from the dictionary below <br>
<p>The output should be 'My favorite car is a 2018 Chevrolet Silverado'</p>

In [70]:
# use the dict below
truck = {
    'year': 2018,
    'make': 'Chevrolet',
    'model': 'Silverado'
}

print(f"My favorite car is a {truck['year']} {truck['make']} {truck['model']}")


#use format when pulling from a long list in a dictionary
#2018 does not matter if its a integer or string

My favorite car is a 2018 Chevrolet Silverado

##### Adding New Pairs

In [71]:
# dict[key] = value
d_3['Zooey'] = '151 Main street'
d_3

{'Hank': '123 Real street',
 'Peter': '321 Fake street',
 'Sydney': '555 Santa Monic Drive',
 'Tevin': '100 Rodeo blvd',
 'Zooey': '151 Main street'}

##### Modifying Values

In [72]:
# dict[key] = value
# case sensitive
# Key value must exist
d_3['Zooey'] = '321 Fake street'

d_3

{'Hank': '123 Real street',
 'Peter': '321 Fake street',
 'Sydney': '555 Santa Monic Drive',
 'Tevin': '100 Rodeo blvd',
 'Zooey': '321 Fake street'}

##### Removing Key, Value Pairs

In [73]:
# del dict[key]
# case sensitive
# Key value must exist
del d_3 ['Tevin']
d_3

{'Hank': '123 Real street',
 'Peter': '321 Fake street',
 'Sydney': '555 Santa Monic Drive',
 'Zooey': '321 Fake street'}

##### Looping a Dictionary

In [107]:
# .items() -> list of tuples -> tuples => ('key', value)
a, b, c = 1, 2, 3
print(a)
print(b)
print(c)

for x in d_3.items():
    print(x)
    
for key, value in d_3.items():
#for 1st line and 2nd line
    print(f'{key} lives at {value}')
#         format' {key var} write any {value var}'

1
2
3
('Hank', '123 Real street')
('Peter', '321 Fake street')
('Sydney', '555 Santa Monic Drive')
('Zooey', '321 Fake street')
Hank lives at 123 Real street
Peter lives at 321 Fake street
Sydney lives at 555 Santa Monic Drive
Zooey lives at 321 Fake street

##### Looping Only Keys

In [86]:
# .keys()
# for i in d_3:
#     print(i)
d_3.keys()
#better way
for k in d_3.keys():
    print(k)
#alt way but not as great
for i in d_3:
    print(i)

Hank
Peter
Sydney
Zooey
Hank
Peter
Sydney
Zooey

##### Looping Only Values

In [93]:
# .values()

d_3.values()

for v in d_3.values():
    print(v)
#you can get the key to get the values
for k in d_3.keys():
    print(k, d_3[k])

123 Real street
321 Fake street
555 Santa Monic Drive
321 Fake street
Hank 123 Real street
Peter 321 Fake street
Sydney 555 Santa Monic Drive
Zooey 321 Fake street

## In-Class Exercise #2 - Create a Function that Prints All Key Value Pairs within a print .format() <br>
<p><b>Output should be:</b><br>
Max has blue eyes<br>
Lilly has brown eyes<br>
Barney has blue eyes<br>
etc.
</p>

In [103]:
# use the dict below
people = {
    'Max': 'blue',
    'Lilly': 'brown',
    'Barney': 'blue',
    'Larney': 'brown',
    'Ted': 'purple'
}
for k, v in people.items():
    print(f' {k} has {v} eyes')

# Key value must exist

 Max has blue eyes
 Lilly has brown eyes
 Barney has blue eyes
 Larney has brown eyes
 Ted has purple eyes

##### sorted()

In [110]:
# sorts variables in order
# sorted(dict.values()) or dict.keys() or dict.items()
print(sorted(people.items()))
print(sorted(people.keys()))
print(sorted(people.values()))
print(sorted(people))

[('Barney', 'blue'), ('Larney', 'brown'), ('Lilly', 'brown'), ('Max', 'blue'), ('Ted', 'purple')]
['Barney', 'Larney', 'Lilly', 'Max', 'Ted']
['blue', 'blue', 'brown', 'brown', 'purple']
['Barney', 'Larney', 'Lilly', 'Max', 'Ted']

##### List with Dictionaries

In [114]:
a_list = ['Hello', 'Goodbye', {'name': 'Ted', 'age': 22}]

print(a_list)
print(a_list[2])

print(a_list[2]['age'])

['Hello', 'Goodbye', {'name': 'Ted', 'age': 22}]
{'name': 'Ted', 'age': 22}
22

In [115]:
#Adding to the dictionary inside a list
a_list[2]['height'] =  "6'0"

print(a_list)

['Hello', 'Goodbye', {'name': 'Ted', 'age': 22, 'height': "6'0"}]

##### List of Dictionaries

In [124]:
movies = [
     {'title': 'Inception', 'director': 'Christopher Nolan', 'release_year': 2010},
    {'title': 'The Social Network', 'director': 'David Fincher', 'release_year': 2010}
]

# print(movies)
for m in movies:
    print(' ')
    print(m['director'])

Christopher Nolan

David Fincher

### Dictionaries with Lists

In [130]:
# be careful when using numbers as keys in dictionaries, don't confuse them with indexes
#MAKE TO USE COMMAS TO SEPERATE THEM FOR EACH IN DICTIONARY
random_data = {
    'list1': [54, 33, 22, 66, 234],
    2: ['blue', 'green']
}
print(random_data['list1'])
print(random_data[2])

[54, 33, 22, 66, 234]
['blue', 'green']

##### Dictionaries with Dictionaries

In [138]:
# to get values, must traverse through keys
my_shoppe = {
    'ice_cream': {
        'vanilla': 2.99,
        'chocolate': 2.99,
        'oreo': 3.49
    },
    
    'milkshake':{
        'vanilla': 3.99,
        'chocolate': 3.99,
        'oreo': 4.49
    }
    
}
print(Type(my_shoppe['ice_cream']))
print(my_shoppe['ice_cream']['oreo'])
print(my_shoppe['milkshake']['chocolate'])

NameError: name 'Type' is not defined

In [146]:
job_app = {
    #key:Values
    'full_name': 'Jimmy Smith',
    'email': 'jsmith@email.com',
    'prog_languages': [
        {
            'name': 'Python',
            'proficiency': 8
        },
        {
            'name': 'JavaScript',
            'proficiency': 5
        }
    ],
    'experience': [
        {
            'company': 'Omnicorp',
            'position': 'bossman',
            'years_at_company': [2010, 2011, 2012, 2013]
        },
        {
            'company': 'AlphaInc',
            'position': 'QA',
            'years_at_company': [2014, 2015, 2016]
        }
    ],
    'us_citizen': True
}
print(job_app['prog_languages'][0]['proficiency'])

8

In [148]:
# How many years did Jimmy Smith work at AlphaInc?
len(job_app['experience'][1]['years_at_company'])

3

## Dictionaries vs. Lists (over time) Example of RUNTIME
### When inputting values in a Dictionary vs List

In [ ]:
import time


# generate fake dictionary
d = {}

for i in range(10000000):
    d[i] = 'value'
    

# generate fake list
big_list = [x for x in range(10000000)]

In [153]:
# tracking time for set
start_time = time.time()

print(9999999 in d)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for dictionary: {elapsed_time}')


# tracking time for list
start_time = time.time()

print(9999999 in big_list)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for list: {elapsed_time}')

NameError: name 'time' is not defined

## Set <br>
<p>A Set is an unordered collection data type that is iterable (loop), mutable, and has no duplicate elements.<br>Major advantage is that it is highly optimized in checking if something is in the set, as opposed to checking if something is in a list.</p>

##### Declaring

In [156]:
# set() or {,}
set1= set()

print(set1)

set2 = {}
print(set2)

set()
{}

##### .add()

AttributeError: type object 'list' has no attribute 'help'

##### .remove()

##### .union()

In [158]:
# Returns a union of two sets, can also use '|' or nameofset.union(nameofset)
# joins all numbers, gets rid of duplicates
s1 ={1, 2, 3, 4}
s2 ={3, 4, 5, 6}

s3 = s1.union(s2)
print(s3)

# OR

s4 = s2 | s1
print(s4)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

##### .intersection()

In [160]:
# Returns an intersection of two sets, can also use '&'
# only takes similar/common/duplicate elements from both sets

s5 = s1.intersection(s2)
print(s5)

# OR

s6= s2 & s1
print(s6)

{3, 4}
{3, 4}

### .difference()

In [166]:
# Returns a set containing all the elements of invoking set that are not in the second set, can also use '-'
# only takes values from the first set that are not in the second set
# order matters

s7 = s1.difference(s2)
print(s7)
s8 = s2.difference(s1)
print(s8)

# OR

s9 = s1 - s2
print(s9)
s10 = s2 -s1
print(s10)


#the elements that are in only ONE of the sets *Opposite of intersection
#can also use the "Carrot" operator ase well
s11 = s1.symmetric_difference(s2)
print(s11)

{1, 2}
{5, 6}
{1, 2}
{5, 6}
{1, 2, 5, 6}

##### .clear()

In [168]:
# Empties the whole set
# set.clear()
nums.clear()

print(nums)

NameError: name 'nums' is not defined

##### Frozenset <br>
<p>Frozen sets are immutable objects that only support methods and operators that produce a result without affecting the frozen set or sets to which they are applied.</p><br><b>Unique & Immutable</b>

In [2]:
# frozenset([*Iterable])
my_frozen_set = frozenset([1, 2, 2, 2, 3, 56])

print(my_frozen_set)

for i in my_frozen

frozenset({56, 1, 2, 3})

In [ ]:
import time
# generate fake set
big_set = {i for i in range(10000000)}
    

# generate fake list
big_list = [x for x in range(10000000)]

In [1]:
# tracking time for set
start_time = time.time()

print(9999999 in big_set)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for set: {elapsed_time}')


# tracking time for list
start_time = time.time()

print(9999999 in big_list)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for list: {elapsed_time}')

NameError: name 'time' is not defined

# Exercises

### 1) Create a program that allows a user to continue to add people to an address book until the user quits. Once the user quits, break out of the loop and print out the name and address of everyone in the address book

###### Steps
1. Create a function that will ask user for name and addresses and stores them in a dictionary
2. Define an empty dictionary with which to work (global or local variable?)
3. Begin a loop that will continue to ask a user for information until the user "quits"
4. If the user does not quit, ask for a name and address and store the variables into variables
5. Add information to the dictionary with name as the key and address as the value
6. If the user does quit, end the loop
7. Print out the information from the dictionary in a formatted way
8. Execute/Call the function

In [1]:
from IPython.display import clear_output
def printInput():
    info = {}
    while True:
        q1 = input('What is your full name or quit?')
        if q1.lower() == 'quit':
            break 
        q2 = input('where do you live or quit?')
        if q2.lower() == 'quit':
            break
        info[q1] = q2
    clear_output()
    for k, v in info.items():
        print(f'Name: {k.title()}')
        print(f'Address: {v.title()}')
printInput()

Name: Ice Cream
Address: Is
Name: The
Address: Worst

### 2) Best Time to Meet

Billy is trying to figure out if there is a time that he and his team can meet to work on the project. His three teammates each give him a list of times they are available ('HH:MM' 24-hour). Create a function that will take in the list of all the teammates and return a list of times where everyone can meet.

In [20]:
# Available Times: '12:00' and '14:30'
 
t0 = {'09:00', '10:30', '11:30', '12:00', '13:00', '14:30'}
t1 = {'09:30', '10:00', '10:30', '12:00', '14:30', '16:00'}
t2 = {'09:00', '09:30', '11:00', '11:30', '12:00', '13:30', '14:30', '15:00'}
t3 = {'11:00', '11:30', '12:00', '14:00', '14:30', '16:30', '17:00'}

meeting = t0 & t1 & t2 & t3
print(f'Our meeting times are{meeting}')

# OR

t4 = {'09:00', '10:30', '11:30', '12:00', '13:00', '14:30'}
t5 = {'09:30', '10:00', '10:30', '12:00', '14:30', '16:00'}
t6 = {'09:00', '09:30', '11:00', '11:30', '12:00', '13:30', '14:30', '15:00'}
t7 = {'11:00', '11:30', '12:00', '14:00', '14:30', '16:30', '17:00'}
    
def time_to_meet(t4, t5, t6, t7):
    newset = set(t4) & set(t5) & set(t6) & set(t7)
    return f'Our meeting times are{newset}'

time_to_meet(t4,t5,t6,t7)

Our meeting times are{'12:00', '14:30'}

"Our meeting times are{'12:00', '14:30'}"